<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About</title>
</head>
<body>
    {% include 'main/navbar.html' %}
    <div id="flex_about" class="flex-container">
        <div>
            <div id='kotak_about' class="border border-warning">
                <img src="{% static 'img/foto_about.jpg' %}" alt="foto_about" width="739" height="554">
            </div>
        </div>
        <div>
            <p> Halo, Saya farhan, diliat berdasarkan foto, saya berada di paling kiri, baris kedua dari bawah.</p>
        </div>
    </div>
</body>
</html>