{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Document</title>
{% endblock meta %}

{% block content %}
    {% include 'main/navbar.html' %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="p_matkul">Masukkan nama :</label> {{daftar_kegiatan.anggota}}
        <br>
        <input type="submit" name="Masukkan" class="btn btn-primary button-submit" value="Simpan">
    </form>
{% endblock content %}