{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Jadwal</title>
{% endblock meta %}

{% block content %}
    {% include 'main/navbar.html' %}
    {% if jadwal %} {% for daftar in jadwal %}
    <table class="table table-success table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Nama Mata Kuliah</th>
        <td>{{ daftar.matkul }}</td>
        </tr>

        <tr>
        <th scope="row">Dosen Pengajar</th>
        <td>{{ daftar.dosen_pengajar }}</td>
        </tr>

        <tr>
        <th scope="row">Jumlah SKS</th>
        <td>{{ daftar.jumlah_sks }}</td>
        </tr>
        
        <tr>
        <th scope="row">Ruang kelas</th>
        <td>{{ daftar.ruang_kelas }}</td>
        </tr>

        <tr>
        <th scope="row">Semester tahun</th>
        <td>{{ daftar.smt_tahun }}</td>
        </tr>
        
        <tr>
        <th scope="row">Deskripsi mata kuliah</th>
        <td>{{ daftar.deskripsi_matkul }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
    <a href="/susunjadwal">
        <button type="button" class="btn btn-success">Tambah</button>
    </a>
{% endblock content %}