{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Profile</title>
{% endblock meta %}

{% block content %}
  {% include 'main/navbar.html' %}
  <div class="container">
    <div class="center">
      <div id="kotak_profil" class="border border-warning">
        <img src="{% static 'img/profile_farhan.png' %}" alt="foto_profil" width="1000" height="500">
      </div>
      <table border=2>
        <tr>
          <td>Nama</td>
          <td>Muhammad Farhan Thariq</td>
        </tr>
    
        <tr>
          <td>NPM</td>
          <td>1906399215</td>
        </tr>
    
        <tr>
          <td>Hobi</td>
          <td>Berolahraga</td>
        </tr>
    
        <tr>
          <td>Angkatan</td>
          <td>2019</td>
        </tr>
    
        <tr>
          <td>Jurusan Kuliah</td>
          <td>Sistem Informasi</td>
        </tr>
    
        <tr>
          <td>Tentang Saya</td>
          <td>Hamba Allah yang ingin membahagiakan orang tua</td>
        </tr>
      </table> 
    </div>
  </div>
{% endblock content %}