{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Susun Jadwal</title>
{% endblock meta %}

{% block content %}
    {% include 'main/navbar.html' %}
    <form class="teks" action="" method="POST">
        {% csrf_token %}
        <label for="p_matkul">Nama mata kuliah :</label> {{daftar_jadwal.matkul}}
        <br>
        <label for="p_dosen">Dosen pengajar :</label> {{daftar_jadwal.dosen_pengajar}}
        <br>
        <label for="p_sks">Jumlah SKS :</label> {{daftar_jadwal.jumlah_sks}}
        <br>
        <label for="p_deskripsi">Deskripsi mata kuliah :</label> {{daftar_jadwal.deskripsi_matkul}}
        <br>
        <label for="p_tahun">Semester tahun :</label> {{daftar_jadwal.smt_tahun}}
        <br>
        <label for="p_ruang">Ruang kelas :</label> {{daftar_jadwal.ruang_kelas}}
        <br>
        <input type="submit" name="Masukkan" class="btn btn-primary button-submit" value="Simpan">
    </form>
{% endblock content %}