{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Gabung Kelas</title>
{% endblock meta %}

{% block content %}
    {% include 'main/navbar.html' %}
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            Matematika Dasar
            <br>
            {% if aktivitas %} {% for isi in aktivitas %}

            {{ isi.anggota }}

            {% endfor %}
            {% endif %}
            <br>
            <a class="btn btn-primary button-submit" href="/daftar_kegiatan">Tambah Peserta</a>
        </div>
        <div class="p-2 flex-fill bd-highlight">Matematika Diskrit</div>
        <div class="p-2 flex-fill bd-highlight">Fisika Dasar</div>
    </div>
{% endblock content %}